html, body {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

header {
    background-color: #52503B;
    display: flex;
    padding-inline: 8.3%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
img.logo-sm {
    width: 128px;
    height: 45px;
}
header>nav {
    flex: 1;

}
header>nav>ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}
header>nav>ul>li {
    display: block;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.25;

}
a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus {
    color: inherit;
    outline: 0;
}
p {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
h1  {
    font-style: normal;
    font-size: 9.6rem;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
    color: white;
    margin: 0;
}
h2  {
    text-align: center;
    margin:0;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn {
    border-radius: 6px;
    padding: 11px 18px;
    background-color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #52503B;
    white-space: nowrap;
    border: 0;
    display: block;
}
.btn.brown {
    background-color: #52503B;
    color: #ffffff;
}
.pg1 {
    background: url("./assets/img_lakehouse.png") no-repeat center top fixed;
    background-attachment: inherit;
    background-size: cover ;
    padding-top: 178px;
    padding-bottom: 248px;
    text-align: center;
    color: #ffffff;
    padding-inline: 9.5%;

}
.pg1>h1 {
    margin-block: 34px;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.1;
}
.pg1>p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.43;
}
.pg2 {
    padding: 100px 22%;
    background-color: #FAF8F0;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #333333;
}
:is(.pg2, .pg3, .pg4) > .element_orange {
    margin: 0 auto 32px;
}

.pg3 {
    padding: 100px 76px 140px;
}

.pg3 > h1 {
    color: #52503B;
}

.pg4 {
    padding: 100px 136px 100px;
    background-color: #FAF8F0;
}
.pg4 > h1 {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: #52503B;
}
.pg4 > .container-fluid h2 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #52503B;
}
.pg4 > .container-fluid p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.pg4 > p {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #52503B;
    width: 38%;
    margin: 14px auto 30px;
}
.pg4 > .container-fluid img {
    margin-inline: auto;
    display: block;
    margin-bottom: 12px;
}
.pg5 {
    padding: 100px 136px;
}
.pg5 > h1 {
    color: #52503B;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: left;
    margin: 30px 0 14px;
}
.pg5 > p {
    width: 50%;
    color: #52503B;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 30px;
}
.pg5 img {
    float: left;
    margin-right: 16px;
}
.pg5 > .container-fluid {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
}
.pg5 > .container-fluid > .row > div {
    padding: 0;
    margin-bottom: 32px;
}
.pg5 > .container-fluid h2 {
    color: #52503B;
    text-align: left;
}
.pg5 > .container-fluid p {
    display: flex;
}
.pg6 {
    background: #FAF8F0;
    padding: 70px 30px 70px;
}
.pg6 > .element_orange {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-inline: auto;
}
.pg6 h1 {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: #52503B;
}
.pg6 p {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #52503B;
    padding-inline: 28%;
}
.review {
    border: 1px solid rgba(82, 80, 59, 0.1);
    width: 40%;
    padding: 31px;
    margin: 30px 10px;
    background-color: #FFFFFF;
    display: inline-table;
    flex: 0 0 auto;
}
.all_reviews {
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.stars {
    margin-bottom: 10px;
}
.pg6 >.all_reviews > .review h1 {
    color: #333333;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: left;
    margin-bottom: 11px;
}
.pg6 > .all_reviews > .review p {
    color: #333333;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 40%;
    height: 100px;
    display: contents;
    text-align: left;
}
.pg6 > .all_reviews > .review img {
    margin-right: 10px;
}
.slider-controls {
    text-align: right;
    padding: 40px 136px 0;
}
.slider-controls button {
    border: 2px solid #52503B;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 10px;
}

.pg7 {
    padding: 100px 146px 130px 136px;
    margin: 0;
    display: flex;
}
.pg7 h1 {
    color: #52503B;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 14px;
}
.pg7 p {
    color: #52503B;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-right: 104px;
    text-align: left;
}
.pg7_left {
    width: 50%;
    margin: 0;
}
.pg7_right {
    width: 50%;
}
.pg7_right img {
    float: left;
    margin-right: 16px;
}
.pg7_right p {
    display: flex;
    margin: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pg8 {
    padding: 100px 28%;
    background-color: #FAF8F0;
}
.pg8 .element_orange {
    margin-inline: auto;
}
.pg8 h1 {
    color: #52503B;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 13px;
}
.pg8 p {
    color: #52503B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.pg8 button {
    border-radius: 6px;
    padding: 11px 18px;
    background-color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #52503B;
    white-space: nowrap;
    border: 4px solid #52503B;


}
.btn_div {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 18px;
}
.footer {
    background-color: #52503B;
    padding: 100px 9.5% 110px;
}
.footer_top {
    display: flex;
    height: 66%;
}
.footer_pages {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer_pages h2 {
    text-align: left;
    margin-bottom: 10px;
}
.footer_pages a {
    display: block;
    margin-bottom: 10px;
}
.footer_sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.smm    {
    text-align: center;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer_input {

}
.footer_input h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.footer_input p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 9px;
}
.input_container {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    padding: 11px 7px 11px 30px;
    display: flex;
    margin-bottom: 8px;
}
.input_container input {
    border: 0;
    background-color: transparent;
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    outline: 0;
}
.input_container button {
    background: #52503B;
    border-radius: 10px;
    padding-inline: 5px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    height: 30px;
}
.footer_bottom img {
    height: 70px;
    width: 200px;
    margin-bottom: 20px;

}
.footer_bottom p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.footer_bottom {
    text-align: center;
    color: #FFFFFF;
}
.element_orange {
    background-color: #E08631;
    width: 42px;
    height: 8px;
}
